extends layout.pug

block content            
    main.page-content
        if newOffers || discussedOffers
            if categories
                include ./categories/categories-list.pug
            if newOffers
                - var ticketsList = newOffers;
                include ./tickets/tickets-list.pug
                        
            if discussedOffers
                - var ticketsList = discussedOffers;
                include ./tickets/tickets-list.pug
        else
            .message
                .message__text
                    p На сайте еще не опубликовано ни одного объявления.
                a.message__link.btn.btn--big(href='/login') Вход и регистрация
        